.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 3rem);
  justify-content: space-between;
}

.main.homePage,
.main.notFound {
  min-height: 100vh;
}

.lightboxOpen {
  pointer-events: none;
}
.contact_page_container,
.about_me_container {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .contact_page_container,
  .about_me_container {
    padding-bottom: 0;
  }
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.photoSetContainer {
  z-index: 0;
  height: 100%;
  flex: 0 0 auto;
  transition: 0.8s;
  position: relative;

  transform: none !important;
}

.photoSetContainer:hover {
  cursor: pointer;
}

.photoSetImage {
  height: 100%;
  object-fit: cover;
}

.photoSetImageWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 32rem;
}

.backButton {
  transition: 0.3s;
}

.backButton:hover {
  cursor: pointer;
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
  border: 2px solid var(--button-hover-bg);
}

@media (max-width: 600px) {
  .main {
    min-height: 100vh;
    padding-bottom: 2rem;
  }
  .main.contactPage {
    min-height: calc(100vh - 12rem);
    padding-bottom: 0;
  }
  .main.homePage {
    min-height: 100vh;
  }

  .carousel {
    gap: 12px;
  }

  .photoSetImageWrapper {
    height: 28rem;
  }
}
