.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  min-height: 37rem;
}

.lightboxOpen {
  pointer-events: none;
}
.contact_page_container,
.about_me_container {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 3rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.carousel {
  display: flex;

  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.photoSetContainer {
  z-index: 0;
  height: 100%;
  flex: 0 0 auto;
  transition: 0.8s;
  position: relative;

  transform: none !important;
}

.photoSetContainer:hover {
  cursor: pointer;
}

.photoSetImage {
  height: 100%;
  object-fit: cover;
}

.photoSetImageWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 32rem;
}

.backButton {
  transition: 0.3s;
}

.backButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.86);
  color: white;
}

@media (max-width: 600px) {
  .main {
    padding: 1.7rem 1.2rem;
  }
  .carousel {
    gap: 12px;
  }

  .photoSetImageWrapper {
    height: 28rem;
  }
}
